JWT_SIGNATURE_KEY=nIqSjjBZ0gQzaKiJl0dVFLi5al4I6TjO7atDD3Bo+J8Quw96vU/ilqJT6Uq+ksvjgLSAnk1Oc1lbhqInZmODYA
JWE_ENCRYPTION_KEY=MCXNgwSUU0J5i6H5ASUTyGwrgnUJS4Ah3m1IrRoaJRw

LISTEN_ADDRESS=0.0.0.0:3000
SERVER_URL=http://localhost:3000

EMAIL_FROM=RATTS team<ratts@gameinstance.com>

POSTGRES_DB=ratts
POSTGRES_USER=ratts
POSTGRES_PASSWORD=ratts_secret
