JWT_SECRET=ratts_jwt_secret

LISTEN_ADDRESS=0.0.0.0:3000
SERVER_URL=http://localhost:3000

EMAIL_FROM=RATTS team<ratts@gameinstance.com>

POSTGRES_DB=ratts
POSTGRES_USER=ratts
POSTGRES_PASSWORD=ratts_secret
